.banner-text h1 {
        display: inline;
}
#body {
        background-color: #000 !important;
}
.btn-main {
        background-color: #a21c19 !important;
        box-shadow: 0 15px 40px rgba(162, 23, 18) !important;
}
.btn-main:hover {
        background-color: #a21c19 !important;
}
