@font-face {
  font-family: 'takecover';
  src:  url('../fonts/takecover.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'rapture';
  src:  url('../fonts/rapture.ttf');
  font-weight: normal;
  font-style: normal;
}
