.banner-text h1 {
        display: inline;
}
#body {
        background-color: #d8d8d8 !important;
        background-image: url(../images/7-noise-texture-overlays-2.png) !important;
}
.btn-main {
        background-color: #a21c19 !important;
        box-shadow: 0 0px 0px rgba(162, 23, 18) !important;
}
.btn-main:hover {
        background-color: #a21c19 !important;
}

footer {
    background: #000 !important;
    background-color: rgb(0, 0, 0);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: none;
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
}
.navbar {
        position: absolute !important;
        left: 0;
        right: 0;
}

.navbar-brand {
        font-family: rapture,josefin sans,sans-serif !important;
        font-size: 30px !important;
}

.bg-dark {
        background-color: #3b4045 !important;
}
.textdrop {
        background-color: #d8d8d8;
        padding: 10px 10px;
        opacity: .97;
}
