@font-face {
  font-family: 'takecover';
  src:  url('../fonts/takecover.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mentha_rapture';
  src:  url('../fonts/mentha_rapture.ttf');
  font-weight: normal;
  font-style: normal;
}
