.banner-text h1 {
        display: inline;
}
#body {
        background-color: #d8d8d8 !important;
}
.btn-main {
        background-color: #a21c19 !important;
        box-shadow: 0 0px 0px rgba(162, 23, 18) !important;
}
.btn-main:hover {
        background-color: #a21c19 !important;
}

.footer {
    background-color: #1a1a1a !important;
}
.navbar {
        position: absolute !important;
        left: 0;
        right: 0;
}
